.navigation--item__active{
    color: #753872;
}

.mobile-navigation--item__active{
    color: #753872;
}

.headline{
    font-size: 2rem;
}

@media only screen and (max-width: 660px){
    main{
        display: flex;
        flex-direction: column-reverse;
    }
}
